/* site.css */
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant hover (&:hover);

@theme {
  --color-brand: #3b82f6;
  --color-brand-dark: #1e40af;
  --color-background-gradientStart: #ebf8ff;
  --color-background-gradientEnd: #ede9fe;
  --shadow-soft: 0 4px 12px rgba(0, 0, 0, 0.05);
}

/* Apply your font globally */
body {
}

/* Smooth scrolling experience */
html {
  scroll-behavior: smooth;
}

/* Better focus outlines */
/* :focus {
  outline: 2px solid var(--color-brand);
  outline-offset: 2px;
} */

/* Link hover effect */
/* a:hover {
  text-decoration: underline;
} */

/* Hide default file input if using custom component */
input[type="file"] {
  display: none;
}

/* Toast notifications, custom modals, etc. co*

[x-cloak] {
  display: none !important;
}